<content>
<h1 style="text-align: center">Angular Bot</h1>


<br>
<div class="main">
<ng-container *ngFor = "let message of messages | async">

        <div class="message" [ngClass]="{'from':  message.sentBy == 'bot',
                                          'to' :  message.sentBy == 'user' }">
                                        
                {{message.content}}                                
        </div>

</ng-container>
</div>
<br>
</content>
<br>
<div class="footer">
<input placeholder="Try something....." type="text" [(ngModel)]="formValue" (keyup.enter)="sendMessage()">


<button type="button"  (click)="sendMessage()"><mat-icon >send</mat-icon></button>
</div>